/* /////////////////////////////////// GENERAL CONTAINERS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

body {
    background-image: url(resources/background_dotted-halftone.jpg);
}

.navbar {
    background-color: #323232 !important;

}

.collapse {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

nav {
    width: 100% !important;
    position: fixed !important;
    bottom: 0px !important;
    height: 5% !important;
}

.nav-link {
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 14pt !important;
    color: gray !important;

}

.nav-link:hover {
    color: white !important;
}


.border {
    border: 2px solid rgba(255, 255, 255, .5) !important;
    border-radius: 0.5em;
    margin: 1%
}

.pagebox {
    height: 90vh;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

button {
    margin: 1%;
    padding: 5px;
    background: rgba(255, 255, 255, .25);
    border-radius: 0.5em;
    border-color: white;
    border-style: solid;
    width: 5vw;
}

button:hover {
    border-color: white;
    background: rgba(255, 255, 255, .5);
}

button:active {
    border-color: white;
    background-color: rgba(255, 255, 255, .75);
}

a:hover,
h3:hover {
    background-color: rgba(255, 255, 255, .25);
    border-radius: 0.5em;
}


/* /////////////////////////////////// TEXT \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

h1,
h2,
h3 {
    color: white;
    font-family: 'DM Serif Display', serif;
}

h1 {
    font-size: 42pt;
    font-weight: 800;
}

h2 {
    font-size: 32pt;
    font-weight: 600;
}

h3 {
    font-size: 24pt;
    font-weight: 400;
    padding: 5%;
}

p,
span,
li,
a,
button {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16pt;
    color: white !important;
}

hr {
    border: 1px solid white;
    margin-bottom: 2%;
}

/* /////////////////////////////////// HOMEPAGE CONTAINERS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.homepage-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    height: 86vh;
    width: 80vw;
}

.centre-content {
    width: 50vw;
    display: flex;

}

.centre-text {
    background-color: rgba(100, 100, 100, .5);
    padding: 5%;
    text-align: left;
}

.links {
    width: 70vw;
    margin: 5%;
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
    text-align: center;
}

.link-text {
    color: gray;
}

.link-text:hover {
    color: white;

}

.headshot {
    object-fit: cover;
}

/* /////////////////////////////////// SHOWCASE CONTAINERS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.showcase-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.showcase-image-container {
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    /* transition: flex-grow .75s; */
    transition: all .5s ease;

    border: 2px solid gray;
    border-radius: 0.5em;
    margin: 0.5%;

}

.showcase-image-container:hover {
    flex-grow: 4;
    filter: brightness(150%);
}

.showcase-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(100%);
    border-radius: 0.4em;
}

/* /////////////////////////////////// INFO CONTAINERS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.info-panel {
    display: flex;
    width: 95vw;
    height: 85vh;
    flex-basis: 0;
}

.panel {
    padding: 1%;
}

.panel:hover {
    background-color: rgba(255, 255, 255, .05);
}

.left-panel {
    flex-basis: 1;
    flex-grow: 1;
    text-align: left;
    /* line-height: 3; */
}

.left-panel-text-container {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.centre-panel {
    flex-basis: 2;
    flex-grow: 2;
    text-align: left;
}

.subtitle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-small {
    max-width: 10%;

    transition: all .25s ease;
}

.img-small:hover {
    transform: scale(7);
    filter: brightness(175%);
}


/* /////////////////////////////////// HOBBY CONTAINERS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.img-tiles {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    /* margin: 2%; */
}

.info-image {
    max-width: 20%;
    border-radius: 0.5em;
    border: 2px solid gray;
    margin: 1%;

    transition: all .25s ease;
}

.info-image:hover {
    transform: scale(2);
    filter: brightness(150%);
}

p[id*="info-text"],
li[id*="info-text"],
a[id*="info-text"] {
    text-align: justify;
    font-size: 14pt;
}

p[id*="hobby-text"],
li[id*="hobby-text"],
a[id*="hobby-text"] {
    text-align: justify;
    font-size: 12pt;
}